.myfriends {
  margin: 4vw;
  margin-top: 15vh;
}

.myfriends h1 {
  font-size: 20px;
  margin-bottom: 2vw;
}

.myfriends ul {
  padding: 2vw;
  border: 2px solid #36EF82;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(54, 239, 130, 0.2) 0%, rgba(31, 137, 75, 0.2) 100%);
}

.myfriends li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  padding: 2vw;
}

.myfriends img {
  width: 15vw;
  height: 15vw;
  border-radius: 10px;
}

.img-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.arrL {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.arrL * {
  color: #36EF82;
  font-size: small;
}

.boost-text div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.boost-text div img {
  width: 5vw;
  height: 5vw;
}

.botoom-btns {
  position: absolute;
  top: 92vh;
  width: 100%;
  padding: 0 5vw;
  
  display: flex;
  justify-content: space-between;
  
}
.botoom-btns button {
  width: 42vw;
  padding: 4vw;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: rgba(255, 255, 255, .2) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #5353539e;
}

.emodji {
  font-size: 15vh;
}

.no-friends {
  text-align: center;
  margin-top: 35vh;
}